@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 4%;
    --foreground: 0 0% 96%;

    --card: 0 0% 8%;
    --card-foreground: 0 0% 94%;

    --popover: 0 0% 7%;
    --popover-foreground: 0 0% 95%;

    --primary: 0 84% 60%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 14%;
    --secondary-foreground: 0 0% 90%;

    --muted: 0 0% 13%;
    --muted-foreground: 0 0% 64%;

    --accent: 0 84% 60%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 52%;
    --destructive-foreground: 0 0% 100%;

    --success: 142 71% 45%;
    --success-foreground: 0 0% 100%;

    --warning: 38 92% 50%;
    --warning-foreground: 0 0% 8%;

    --border: 0 0% 18%;
    --input: 0 0% 18%;
    --ring: 0 84% 60%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  html,
  body {
    height: 100%;
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: hsl(var(--border));
    border-radius: 999px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }
  .font-mono-tabular {
    font-variant-numeric: tabular-nums;
    font-family:
      ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
  }
}
